#cardContainer
{
   /*background-color: rgba(255,254,204,0.5);*/
    position: absolute;
    /*margin-left: 18%;*/
    margin-top: 0;
    width: 1225px;
    height: 670px;

}

#card1-Contanainer
{
    background-color: white;
    position: absolute;
    margin-left: 25px;
    margin-top: 25px;
    width: 275px;
    height: 150px;
    display: flex;
    border-radius: 5px;

}

#card2-Contanainer
{
    background-color: white;
    position: absolute;
    margin-left: 325px;
    margin-top: 25px;
    width: 275px;
    height: 150px;
    display: flex;
    border-radius: 5px;

}
#card3-Contanainer
{
    background-color: white;

    position: absolute;
    margin-left: 625px;
    margin-top: 25px;
    width: 275px;
    height: 150px;
    display: flex;
    border-radius: 5px;

}

#card4-Contanainer
{

    /*background-color: rgba(48, 52, 60,0.8);*/
    background-color: white;
    position: absolute;
    margin-left: 925px;;
    margin-top: 25px;
    width: 275px;
    height: 150px;
    display: flex;
    border-radius: 5px;
}

#card5-Contanainer
{

    background: white;
    position: absolute;
    margin-left: 25px;
    margin-top: 220px;
    width: 800px;
    height: 400px;
    text-align: center;
    /*display: flex;*/
    display: block;
    border-radius: 5px;

}

#card6-Contanainer
{

    background: white;
    position: absolute;
    margin-left: 850px;
    margin-top: 220px;
    width: 350px;
    height: 400px;

    /*display: flex;*/
    display: block;
    border-radius: 5px;

}
#card6-Contanainer h1{
    text-align: center;
}



.Ccontenu{
    margin: auto;
    font-size: 20px;
    z-index: 10;
    text-align: center;

}
img {

position: absolute;
width: 70%;
height: 70%;
margin: 15%;


}

#cardContainer div span.icon-container {


    margin: auto;
    width: 80px;
    height: 80px;
    margin-top: 35px;
    margin-left: 20px;
    position: absolute;
    border-radius: 50%;

}

#cardContainer div span.Ccontenu{

    background-color: white;
    margin: auto;
    width: 135px;
    height: 70px;
    margin-top: 50px;
    margin-left: 120px;
    position: absolute;
    color: #797979;
    font-weight: bold;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;

}
h1
{
        font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
        color:rgb(204, 0, 0);

}
#card1-Contanainer span.icon-container
{
    background-color: rgba(204, 0, 0,1);
    border: solid 1px rgb(204, 0, 0);
}

#card2-Contanainer span.icon-container
{
    background-color: rgba(48, 52, 60,1);
    border: solid 1px rgb(48, 52, 60);
}
#card3-Contanainer span.icon-container
{
   background-color: rgba(129, 200, 104, 1);
   border: solid 1px rgba(129, 200, 104, 1);
}
#card4-Contanainer span.icon-container
{
    background-color: rgba(125, 174, 240, 1);
    border: solid 1px rgb(125, 174, 240);
}

#card5-Contanainer hr
{
    margin-bottom: 0;
}
#card5-Contanainer h1
{
    color: #29AAEB;
}



