<div class="card" id="TempsContainer">
    <div class="card-header" data-background-color="orange">
        <h4 class="title">Ajouter un Rendez-vous</h4>
    </div>
    <div class="card-content">
        {{rendezVous}}
        <form #f="ngForm">

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-black label-floating is-empty">
                        <md-input-container>
                            <input mdInput placeholder="" [(ngModel)]="rdvEmited.Enseignant" class="form-control" [mdAutocomplete]="auto" [formControl]="stateCtrl">
                        </md-input-container>
                        <md-autocomplete #auto="mdAutocomplete">
                            <md-option *ngFor="let ens of filteredStates | async" [value]="ens.email">{{ ens.name }}</md-option>
                        </md-autocomplete>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-black label-floating is-empty">
                        <label class="control-label">Motif du Rendez-vous</label>
                        <input type="text" class="form-control" name="motif" [(ngModel)]="rdvEmited.motif" (ngModelChange)="rdvEmited.Motif = $event" required>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-black btn-sm pull-right" (click)="dialogRef.close(rdvEmited)" style="color:white">Ajouter</button>
            <div class="clearfix"></div>
        </form>
    </div>
</div>