<div class="main-content">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header" data-background-color="bleu">
            <h4 class="title">Sélectionner</h4>
          </div>
          <br/>
          <div class="card-content table-responsive " id="filtresConteneur">
            <div class="col-md-11">
              <div class="col-md-4" id="datePicker">
                <md2-datepicker [(ngModel)]= "currentDate" (change)="onChangeDate($event)"></md2-datepicker>
              </div>
              <div class="col-md-8">
                <div class="col-md-4">
                  <md-select placeholder="Module" [(ngModel)]="moduleSlct" (change)="onChangeModule($event)">
                    <md-option *ngFor="let module of modules" [value]="module">
                      {{ module }}
                    </md-option>
                  </md-select>
                </div>
                <div class="col-md-4">
                  <md-select placeholder="Type de séance" [(ngModel)]="seanceSlct" (change)="onChangeSeance($event)">
                    <md-option *ngFor="let seance of seances" [value]="seance.id">
                      {{ seance.type }}
                    </md-option>
                  </md-select>
                </div>
                <div class="col-md-4" >
                  <md-select placeholder="Groupe" (change)="onChangeGroupe($event)">
                    <md-option *ngFor="let groupe of groupes" [value]="groupe">
                      {{ groupe }}
                    </md-option>
                  </md-select>
                </div>
              </div>
            </div>
            <div class="col-md-1">
              <button md-fab (click)="getListeEtudiants()" >
                <md-icon>check</md-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card" id="etudiantsListe">
          <div class="card-header" data-background-color="bleu">
            <h4 class="title">Liste des étudiants</h4>
          </div>
          <div class="card-content table-responsive">
            <table class="table">
              <thead class="text-black">
              <tr>
                <th>#</th>
                <th>Matricule</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Absent(e)</th>
                <th>Nombre d'absences</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let etudiant of listeEtudiants; let i = index">
                <td>{{ i+1 }}</td>
                <td>{{ etudiant?.matricule }}</td>
                <td>{{ listeEtudiants[i]?.nom }}</td>
                <td>{{ etudiant?.prenom }}</td>
                <td><md-checkbox class="example-margin" [(ngModel)]=etudiant.checked></md-checkbox></td>
                <td>{{ etudiant?.nbrAbs }}</td>
              </tr>
              </tbody>
            </table>
            <div align="right">
              <a class="btn btn-default" style="right: 0" (click)="validerListeAbs()">Valider</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
