<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-10">
              <div class="card">
                  <div class="card-header" data-background-color="bleu">
                      <h4 class="title">Sélectionner</h4>
                  </div>
                  <br/>
                  <div class="card-content table-responsive " id="filtresConteneur">
                      <div class="col-md-5">
                          <div class="col-md-12" id="datePicker">
                              <md2-datepicker [(ngModel)]="currentDate" (change)="onChangeDate($event)"></md2-datepicker>
                          </div>
                      </div>
                      <div class="col-md-5">
                          <md-select placeholder="Type Salle" [(ngModel)]="moduleSlct" (change)="onChangeTypeSalle($event)">
                              <md-option *ngFor="let typeSalle of typesSalles" [value]="typeSalle">
                                  {{typeSalle}}
                              </md-option>
                          </md-select>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">

          <div class="col-md-12">
              <div class="card" id="TempsContainer">
                  <div class="card-header" data-background-color="bleu">
                      <h4 class="title">Disponibilité des Salles</h4>
                  </div>
                  <br/>
                  <div class="card-content table-responsive">
                      <md-tab-group color="reds" style="padding-top: 20px;" #tabGroup (selectChange)="selectSalle($event)">
                          <md-tab [label]="salle.nom" *ngFor="let salle of salles;let i = index">
                              <table class="table" style=" text-align: center">
                                  <thead class="">
                                      <tr style="text-align:centre" data-background-color="reds">
                                          <th>08:30-09:30</th>
                                          <th>09:35-10:35</th>
                                          <th>10:40-11:40</th>
                                          <th>13:00-14:00</th>
                                          <th>14:05-15:05</th>
                                          <th>15:10-16:10</th>
                                          <th>16:15-17:15</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td *ngFor="let item of currentCreneaux;let i=index;">
                                              <div *ngIf="item == 'Res'">
                                                  <p style="color:red;">Réservée</p>
                                              </div>
                                              <div *ngIf="item == 'NonRes'">
                                                  <md-checkbox [(ngModel)]="checkedValues[i]"></md-checkbox>
                                              </div>
                                          </td>
                                      </tr>
                                      <tr style="margin-left:150px ">
                                          <button class="btn btn-black " (click)="addReservation()">valider</button>
                                      </tr>
                                  </tbody>
                              </table>

                          </md-tab>
                      </md-tab-group>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
