md-toolbar
{
    width: 100%;
    margin: 0px;
    background: #ffd740;
    font-size: 22px;
   color: rgb(48, 52, 60);
}
md-dialog-content
{
    padding: 0px;
  
    margin-top:-25px;
    height: 100%;
}
table 
{
    width:90%;
    margin: auto;
    margin-top: 40px;
}

table tr{
    padding:30px;
    height: 40px;
    font-size: 18px;
}
table button 
 {
     float: right;
   margin-right: 10px;
   margin-bottom: 7px;
 }