<div class="container">
    <h1>Welcome to Easy App</h1>
</div>
<div class="container-fluid">
    <div class="row" style="margin-top:5%">
        <div class="col-md-3" style="margin-left:5%;">
            <div class="card">
                <div class="card-header card-chart" data-background-color="reds">
                    <div class="ct-chart" id="completedTasksChart">
                        <img src="../../assets/img/releve.png" alt="">
                    </div>
                </div>
                <div class="card-content" style="text-align: center;">
                    <h2 class="title">Espace Etudiant</h2>
                </div>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-3">
            <div class="card">
                <div class="card-header card-chart" data-background-color="orange">
                    <div class="ct-chart" id="completedTasksChart">
                        <img src="../../assets/img/exam.png" alt="">
                    </div>
                </div>
                <div class="card-content" style="text-align: center;">
                    <h2 class="title">Espace Enseignant</h2>
                </div>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-3">
            <div class="card">
                <div class="card-header card-chart" data-background-color="bleu">
                    <div class="ct-chart" id="completedTasksChart">
                        <img src="../../assets/img/note_perso.png" alt="">
                    </div>
                </div>
                <div class="card-content" style="text-align: center;">
                    <h2 class="title">Espace Gestionnaire</h2>
                </div>
            </div>
        </div>

    </div>
    <div class="row">

        <div class="col-md-offset-5 col-md-2">
            <button class="btn btn-white" (click)="login()">Connexion</button>
        </div>

    </div>

</div>