<div class="navi" style="overflow: hidden">
  <ul>
    <li><img class="responsive-img" src="/src/img/photo.png"/>  Enseigant</li>
    <li><a ><i class="material-icons" aria-hidden="true">format_list_bulleted</i><span class="hidden-xs hidden-sm">Emploi du temps</span></a></li>
    <li><a ><i class="material-icons" aria-hidden="true">format_list_bulleted</i><span class="hidden-xs hidden-sm">Saisie des absences</span></a></li>
    <li><a ><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Cosultation des absences</span></a></li>
    <li><a ><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Rendez-vous</span></a></li>
    <li class="active"><a ><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Saisie des notes</span></a></li>
    <li><a ><i class="glyphicon glyphicon-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Réservation de salles</span></a></li>
  </ul>
</div>
