

<div class="main-content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-4">

                 <div class="col-md-12">

                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Sélectionner</h4>
                    </div>
                    <br/>
                    <div class="card-content table-responsive" id="filtresConteneur">

                         <md-select placeholder="Groupe">
                                <md-option *ngFor="let annee of annees" [value]="annee.value">
                                {{ annee.viewValue }}
                                </md-option>
                        </md-select>

                        <md-select placeholder="Module">
                                <md-option *ngFor="let annee of annees" [value]="annee.value">
                                {{ annee.viewValue }}
                                </md-option>
                        </md-select>

                            <md-select placeholder="Evaluation">
                                <md-option *ngFor="let annee of annees" [value]="annee.value">
                                {{ annee.viewValue }}
                                </md-option>
                            </md-select>

                            <button  md-mini-fab id="validerFiltre" >
                                <md-icon>check</md-icon>
                            </button>
                    </div>
                </div>

                </div>

                 <div class="col-md-12">

                <div class="card" id ="gestionConteneur">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Gestion des évaluations</h4>
                    </div>
                    <div class="card-content table-responsive" >
                           <div class="btn-group btn-group-justified">
                                <a [routerLink]="['ens-add-eval']" class="btn btn-default">Ajouter</a>
                                <a [routerLink]="['ens-modif-eval']" class="btn btn-default">Modifier</a>
                                <a [routerLink]="['ens-delete-eval']" class="btn btn-default">Supprimer</a>

                            </div>
                            <div class=" panel panel-default .vert-offset-bottom-10">
                                    <div class="panel-body">
                                        <router-outlet></router-outlet>
                                    </div>
                            </div>
                    </div>
                </div>

                </div>

            </div>

             <div class="col-md-8">

                <div class="card" id="etudiantsListe">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Liste des étudiants</h4>
                    </div>
                    <div class="card-content table-responsive">
                         <table class="table">
                            <thead class="text-black">
                                <tr>
                                    <th>Num</th>
                                    <th>Matricule</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Note</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Num</th>
                                    <th>Matricule</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Note</th>
                                </tr>
                            </tbody>
                        </table>



                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
