<div id="mainContainer">


   <div id="barreFiltres">
      <div id="filtreContenaire">
         <md-toolbar style="background-color: white;">
             <md-toolbar id="table-title">
                <span>Filtres </span>
            </md-toolbar >
            <md-toolbar-row>
               <md-select id="anneeSlct" placeholder="Année" (change)="onChangeAnnee($event)">
                  <md-option *ngFor="let annee of annees" [value]="annee?.value" >
                  {{ annee?.viewValue }}
                  </md-option>
               </md-select>

                 <md-select placeholder="Spécialité" (change)="onChangeSpecialite($event)">
                  <md-option *ngFor="let specialite of specialites" [value]="specialite">
                  {{ specialite }}
                  </md-option>
               </md-select>

                <md-select placeholder="Groupe" (change)="onChangeGroupe($event)">
                  <md-option *ngFor="let groupe of groupes" [value]="groupe?.numero">
                  {{ groupe?.numero }}
                  </md-option>
               </md-select>

                <md-select placeholder="Module" (change)="onChangeModule($event)">
                  <md-option *ngFor="let module of modules" [value]="module?.code">
                  {{ module?.code }}
                  </md-option>
               </md-select>

              <md-select placeholder="Evaluation" (change)="onChangeEvaluation($event)">
                  <md-option *ngFor="let evaluation of evaluations" [value]="evaluation?.type">
                  {{ evaluation?.type }}
                  </md-option>
              </md-select>

              <button  md-fab (click)="getNotesEtudiants()">
                  <md-icon>check</md-icon>
               </button>
            </md-toolbar-row>

         </md-toolbar>
      </div>
   </div>

<div id="barreEvaluations">
      <div id="EvaluationContenaire">
         <md-toolbar style="background-color: white;">
             <md-toolbar id="table-title">
                <span>Gestion des évaluations</span>
            </md-toolbar >
            <md-toolbar-row>
               <button md-fab (click)="openAddEval()" ><md-icon>add</md-icon></button>
               <button md-fab (click)="openDelEval()" ><md-icon>delete</md-icon></button>
               <button md-fab (click)="openModifEval()" ><md-icon>edit</md-icon></button>
            </md-toolbar-row>

         </md-toolbar>
      </div>
   </div>


   <div id="tableContainer">
      <div class="datagrid">
         <md-toolbar id="table-title">
           <span><md-icon>list</md-icon></span>
            <span>Liste des étudiants </span>
         </md-toolbar >

         <table>
            <thead>
               <tr>
                  <th style="width: 6%;">Num</th>
                  <th style="width: 14%;">Matricule</th>
                  <th style="width: 20%;">Nom</th>
                  <th style="width: 30%;">Prénom</th>
                  <th style="width: 15%;">Note</th>
                  <th style="width: 15%;">Editer</th>
               </tr>
            </thead>

            <tbody>
               <tr class="alt" *ngFor="let ligne of notesEtudiants">
                  <td>1</td>
                  <td>13/165</td>
                  <td>{{ ligne?.nom }}</td>
                  <td>{{ ligne?.prenom }}</td>
                  <td>{{ ligne?.valeur }}</td>
                  <td><button (click)="openModifNote(ligne?.email, ligne?.valeur)"><img src="src\img\c-edit.png"/></button> </td>
               </tr>
            </tbody>
         </table>
         <div>
            <span>
              <button md-mini-fab><md-icon>arrow_back</md-icon></button>
              <button md-mini-fab><md-icon>arrow_forward</md-icon></button>
            </span>
              <a md-raised-button routerLink=".">Valider</a>
         </div>
      </div>
   </div>
</div>
