#validerFiltre
{
    float: right;
    margin-top: 5px;
}

#filtresConteneur
{
    text-align: center;
}

md-select
{
    margin-right:15px;
}


#etudiantsListe
{
    min-height: 700px;
}

#gestionConteneur
{
    min-height: 490px;
}

tbody tr{
  cursor: pointer;
}

