
table 
{
    width:90%;
    margin: auto;
    margin-top: 40px;
}

table tr{
    padding:30px;
    height: 40px;
    font-size: 18px;
}
table button 
 {
   float: right;
   margin-right: 10px;
   margin-top: 10px;
   margin-bottom: 7px;
 }


 #coef
 {
     margin-right: 40px;
     float: right;

 }
 
.spanE
 {
     width: 220px;
 }