<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" id="TempsContainer">
                    <div class="card-header" data-background-color="reds">
                        <h4 class="title">Mes Notes </h4>
                    </div>
                    <br/>
                    <div class="card-content table-responsive">
                        <md-tab-group style="padding-top: 20px;" #tabGroup (selectChange)="selectModule($event)">
                            <md-tab [label]="module.name" *ngFor="let module of modules;let i = index">
                                <table class="table">
                                    <thead class="text-danger" data-background-color="reds">
                                        <tr style="text-align:centre">
                                            <th>Type d'evaluation</th>
                                            <th>coefficient</th>
                                            <th>Note</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div class="col-md-12" *ngFor="let res of result; let i=index">
                                    <div class="table-responsive">
                                        <h5 class="col-md-1">{{res.type}}</h5>
                                        <h5 class="col-md-offset-5 col-md-1">{{res.coefficient}}</h5>
                                        <h5 class="col-md-offset-3 col-md-1">{{res.note}}</h5>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <h3>Moyenne du Module: {{moyenne}}</h3>
                                    </div>
                                </div>

                            </md-tab>
                        </md-tab-group>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>