<div class="main-content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-12">
                  <div class="card">
                    <div class="card-header" data-background-color="bleu">
                        <h4 class="title">Emploie du temps</h4>
                    </div>
                    <br/>
                    <div class="card-content table-responsive ">
                        <table class= "table borderless">
                          <thead>
                             <tr>
                                <th class="col-md-1"><md-icon>access_time</md-icon></th>
                                <th class="col-md-2">Dimanche</th>
                                <th class="col-md-2">Lundi</th>
                                <th class="col-md-2">Mardi</th>
                                <th class="col-md-2">Mercredi</th>
                                <th class="col-md-2">Jeudi</th>
                             </tr>
                          </thead>
                          <tbody>
                            <td>
                              <tr>Séance 1</tr>
                              <tr>Séance 2</tr>
                              <tr>Séance 3</tr>
                              <tr>Séance 4</tr>
                              <tr>Séance 5</tr>
                              <tr>Séance 6</tr>
                              <tr>Séance 7</tr>

                            </td>
                            <td>
                              <tr *ngFor="let seance of emploieJour">
                                <md-card>
                                  <md-card-content>{{ seance[0] }}</md-card-content>
                                  <md-card-content>{{ seance[4] }}</md-card-content>
                                  <md-card-content>{{ seance[5] }}</md-card-content>
                                </md-card>
                              </tr>
                            </td>
                            <td>
                              <tr *ngFor="let seance of emploieJour">
                                <md-card>
                                  <md-card-content>{{ seance[0] }}</md-card-content>
                                  <md-card-content>{{ seance[4] }}</md-card-content>
                                  <md-card-content>{{ seance[5] }}</md-card-content>
                                </md-card>
                              </tr>
                            </td>
                            <td>
                               <tr><md-card><md-card-content>card1</md-card-content><md-card-content>card2</md-card-content><md-card-content>card3</md-card-content></md-card> </tr>
                               <tr><md-card><md-card-content>card1</md-card-content><md-card-content>card2</md-card-content><md-card-content>card3</md-card-content></md-card> </tr>
                               <tr><md-card><md-card-content>card1</md-card-content><md-card-content>card2</md-card-content><md-card-content>card3</md-card-content></md-card> </tr>
                               <tr><md-card><md-card-content>card1</md-card-content><md-card-content>card2</md-card-content><md-card-content>card3</md-card-content></md-card> </tr>
                               <tr><md-card><md-card-content>card1</md-card-content><md-card-content>card2</md-card-content><md-card-content>card3</md-card-content></md-card> </tr>
                            </td>
                            <td>
                               <tr><md-card><md-card-content>card1</md-card-content><md-card-content>card2</md-card-content><md-card-content>card3</md-card-content></md-card> </tr>
                               <tr><md-card><md-card-content>card1</md-card-content><md-card-content>card2</md-card-content><md-card-content>card3</md-card-content></md-card> </tr>
                               <tr><md-card><md-card-content>card1</md-card-content><md-card-content>card2</md-card-content><md-card-content>card3</md-card-content></md-card> </tr>
                               <tr><md-card><md-card-content>card1</md-card-content><md-card-content>card2</md-card-content><md-card-content>card3</md-card-content></md-card> </tr>
                               <tr><md-card><md-card-content>card1</md-card-content><md-card-content>card2</md-card-content><md-card-content>card3</md-card-content></md-card> </tr>
                            </td>
                            <td>
                               <tr><md-card><md-card-content>card1</md-card-content><md-card-content>card2</md-card-content><md-card-content>card3</md-card-content></md-card> </tr>
                               <tr><md-card><md-card-content>card1</md-card-content><md-card-content>card2</md-card-content><md-card-content>card3</md-card-content></md-card> </tr>
                               <tr><md-card><md-card-content>card1</md-card-content><md-card-content>card2</md-card-content><md-card-content>card3</md-card-content></md-card> </tr>
                               <tr><md-card><md-card-content>card1</md-card-content><md-card-content>card2</md-card-content><md-card-content>card3</md-card-content></md-card> </tr>
                               <tr><md-card><md-card-content>card1</md-card-content><md-card-content>card2</md-card-content><md-card-content>card3</md-card-content></md-card> </tr>
                            </td>
                          </tbody>
                        </table>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

<!--<td>-->
  <!--<tr>Seance1</tr>-->
  <!--<tr>Seance2</tr>-->
  <!--<tr>Seance3</tr>-->
  <!--<tr>Seance4</tr>-->
  <!--<tr>Seance5</tr>-->
  <!--<tr>Seance6</tr>-->
  <!--<tr>Seance7</tr>-->
<!--</td>-->
<!--<td>-->
  <!--<tr><md-card><md-card-content>card1</md-card-content><md-card-content>card2</md-card-content><md-card-content>card3</md-card-content></md-card> </tr>-->
  <!--<tr><md-card><md-card-content>card1</md-card-content><md-card-content>card2</md-card-content><md-card-content>card3</md-card-content></md-card> </tr>-->
  <!--<tr><md-card><md-card-content>card1</md-card-content><md-card-content>card2</md-card-content><md-card-content>card3</md-card-content></md-card> </tr>-->
  <!--<tr><md-card><md-card-content>card1</md-card-content><md-card-content>card2</md-card-content><md-card-content>card3</md-card-content></md-card> </tr>-->
  <!--<tr><md-card><md-card-content>card1</md-card-content><md-card-content>card2</md-card-content><md-card-content>card3</md-card-content></md-card> </tr>-->
<!--</td>-->

