#AffectationConteneur
{
height:630px;
}


form input
{
    font-size: 16px;
}

form {
    margin-top: -27px;
}


tr {
width: 100%;
display: inline-table;
table-layout: fixed;
}

table{
 height:300px;            
 display: -moz-groupbox;   
}
table tbody{
  overflow-y: scroll;      
  height: 72%;            
  width: 100%;
  position: absolute;
}



#btnImportation
{
    background: green !important;
    float: right !important;
    width: 50% !important;
    margin-bottom: 15px !important;
}

#btnAjout
{
    margin-bottom: 20px;
}

#MiddleC
{
  text-align: center;
  margin-top: 10%;
}

#MiddleC div 
{
    font-size: 16px !important;
    
}

#TAbConteneur
{
    padding: 0px !important;
    margin-bottom: 0px;
}

#TAbConteneur>div
{
    text-align: center !important;
}

.nbSelect
{
    float:right;
    margin-right: 30px;
    font-size: 16px !important;
    padding-top: 20px !important;
    margin: 20px;
}


#ValiderAff
{
    width: 100px;
    float: right;
    background: linear-gradient(60deg, #ec407a, #d81b60);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
    margin-right: 30px;
    margin-bottom: 10px;

}
.panel.panel-default
{
    margin-bottom: 0px !important;
}

.btn-circle.btn-xl {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  
}

.btn.btn-success.btn-circle.btn-xl i , .btn.btn-warning.btn-circle.btn-xl i , .btn.btn-danger.btn-circle.btn-xl i
{
    font-size: 20px !important;
}

td button{

    vertical-align: middle;
    top: -1px;
    border: none;
    margin-right: 30px;
    position: relative;
}


#divEditGroupe
{
        position: absolute;
    bottom: 0px;
    right: 0px;

}


#hlisteEns .card-header
{
    background: linear-gradient(60deg, #ec407a, #d81b60);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
    width: 60px;
    height: 60px;
    color: white;
   
}

#hlisteEns .card-content{
      margin-top: -40px;
}

#hlisteEns h5.card-title
{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    color: #3C4858;
    text-decoration: none;
    margin-left: 30px;
    margin-top: -10px;

}
#hlisteEns
 {
     background: rgba(0, 172, 193, 0.1);
         box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 172, 193, 0.2);

 }  
      

