<div class="card" id="AffectationConteneur">
    <div class="card-header" data-background-color="bleu">
        <h4 class="title">Affectation des enseignats au modue</h4>
    </div>
    <div class="card-content table-responsive" id="MainC">
        <div class="col-md-12" style="padding:0px;">
            <form class="col-md-5" role="search">
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Rechercher par matricule ">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-white btn-round btn-just-icon " id="btnRech">
               <i class="material-icons">search</i>
               </button>
                </div>
            </form>
        </div>
        <div class="col-md-12">
            <div class="col-md-5" style="margin-top:-20px">
                <div class="card" id="hlisteEns">
                    <div class="card-header card-header-icon">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <h5 class="card-title ">Enseignants non affectés </h5>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead style="color: #00acc1;">
                                        <tr>
                                            <th>Mat</th>
                                            <th>Nom </th>
                                            <th>Prénom</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>123</td>
                                            <td>TATA</td>
                                            <td>Fella</td>
                                            <td>
                                                <div class="checkbox"><label><input type="checkbox" name="optionsCheckboxes" checked=""></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>123</td>
                                            <td>TATA</td>
                                            <td>Fella</td>
                                            <td>
                                                <div class="checkbox"><label><input type="checkbox" name="optionsCheckboxes" checked=""></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>123</td>
                                            <td>TATA</td>
                                            <td>Fella</td>
                                            <td>
                                                <div class="checkbox"><label><input type="checkbox" name="optionsCheckboxes" checked=""></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>123</td>
                                            <td>TATA</td>
                                            <td>Fella</td>
                                            <td>
                                                <div class="checkbox"><label><input type="checkbox" name="optionsCheckboxes" checked=""></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>123</td>
                                            <td>TATA</td>
                                            <td>Fella</td>
                                            <td>
                                                <div class="checkbox"><label><input type="checkbox" name="optionsCheckboxes" checked=""></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>123</td>
                                            <td>TATA</td>
                                            <td>Fella</td>
                                            <td>
                                                <div class="checkbox"><label><input type="checkbox" name="optionsCheckboxes" checked=""></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>123</td>
                                            <td>TATA</td>
                                            <td>Fella</td>
                                            <td>
                                                <div class="checkbox"><label><input type="checkbox" name="optionsCheckboxes" checked=""></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>123</td>
                                            <td>TATA</td>
                                            <td>Fella</td>
                                            <td>
                                                <div class="checkbox"><label><input type="checkbox" name="optionsCheckboxes" checked=""></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>123</td>
                                            <td>TATA</td>
                                            <td>Fella</td>
                                            <td>
                                                <div class="checkbox"><label><input type="checkbox" name="optionsCheckboxes" checked=""></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>123</td>
                                            <td>TATA</td>
                                            <td>Fella</td>
                                            <td>
                                                <div class="checkbox"><label><input type="checkbox" name="optionsCheckboxes" checked=""></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>123</td>
                                            <td>TATA</td>
                                            <td>Fella</td>
                                            <td>
                                                <div class="checkbox"><label><input type="checkbox" name="optionsCheckboxes" checked=""></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>123</td>
                                            <td>TATA</td>
                                            <td>Fella</td>
                                            <td>
                                                <div class="checkbox"><label><input type="checkbox" name="optionsCheckboxes" checked=""></label></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="col-md-5" class="nbSelect">Total 0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" id="MiddleC">
                <div class="text-primary"> Module X</div>
                <a href="" target="_blank" class="btn btn-block" id="btnAjout">Ajouter ></a>
                <a href="" target="_blank" class="btn btn-block">
                    < Retirer</a>
            </div>
            <div class="col-md-5" style="margin-top: -20px;">
                <div class="card" id="hlisteEns">
                    <div class="card-header card-header-icon">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <h5 class="card-title ">Enseignants affectés </h5>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead style="color: #00acc1;">
                                        <tr>
                                            <th>Mat</th>
                                            <th>Nom </th>
                                            <th>Prénom</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>123</td>
                                            <td>TATA</td>
                                            <td>Fella</td>
                                            <td>
                                                <div class="checkbox"><label><input type="checkbox" name="optionsCheckboxes" checked=""></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>123</td>
                                            <td>TATA</td>
                                            <td>Fella</td>
                                            <td>
                                                <div class="checkbox"><label><input type="checkbox" name="optionsCheckboxes" checked=""></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>123</td>
                                            <td>TATA</td>
                                            <td>Fella</td>
                                            <td>
                                                <div class="checkbox"><label><input type="checkbox" name="optionsCheckboxes" checked=""></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>123</td>
                                            <td>TATA</td>
                                            <td>Fella</td>
                                            <td>
                                                <div class="checkbox"><label><input type="checkbox" name="optionsCheckboxes" checked=""></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>123</td>
                                            <td>TATA</td>
                                            <td>Fella</td>
                                            <td>
                                                <div class="checkbox"><label><input type="checkbox" name="optionsCheckboxes" checked=""></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>123</td>
                                            <td>TATA</td>
                                            <td>Fella</td>
                                            <td>
                                                <div class="checkbox"><label><input type="checkbox" name="optionsCheckboxes" checked=""></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>123</td>
                                            <td>TATA</td>
                                            <td>Fella</td>
                                            <td>
                                                <div class="checkbox"><label><input type="checkbox" name="optionsCheckboxes" checked=""></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>123</td>
                                            <td>TATA</td>
                                            <td>Fella</td>
                                            <td>
                                                <div class="checkbox"><label><input type="checkbox" name="optionsCheckboxes" checked=""></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>123</td>
                                            <td>TATA</td>
                                            <td>Fella</td>
                                            <td>
                                                <div class="checkbox"><label><input type="checkbox" name="optionsCheckboxes" checked=""></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>123</td>
                                            <td>TATA</td>
                                            <td>Fella</td>
                                            <td>
                                                <div class="checkbox"><label><input type="checkbox" name="optionsCheckboxes" checked=""></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>123</td>
                                            <td>TATA</td>
                                            <td>Fella</td>
                                            <td>
                                                <div class="checkbox"><label><input type="checkbox" name="optionsCheckboxes" checked=""></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>123</td>
                                            <td>TATA</td>
                                            <td>Fella</td>
                                            <td>
                                                <div class="checkbox"><label><input type="checkbox" name="optionsCheckboxes" checked=""></label></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="col-md-5" class="nbSelect">Total 0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="" target="_blank" class="btn btn-block col-md-4 bg-success text-white" id="ValiderAff">Valider</a>
    </div>
</div>