


<md-dialog-content>
  <md-toolbar md-dialog-title>Modifier la note </md-toolbar>
  <md-toolbar-row>
    <form class="example-form">

      <table class="example-full-width" cellspacing="0">

        <tr>
          <strong>Note</strong>
          <md-input-container class="example-full-width">
            <input mdInput type="number">

          </md-input-container>

        </tr>

        <tr>
          <button md-fab><md-icon>check</md-icon></button>
        </tr>

      </table>
    </form>
  </md-toolbar-row>




</md-dialog-content>
