
table
{
    width:90%;
    margin: auto;
    margin-top: 20px;
    margin-top: 0px;
    border: solid 1px black;
}


#btnModif
 {
   float: right;
   margin-top: 10px;
   margin-bottom: 7px;
 }



tr button
{
    width: 35px;
    background: white;
    color: azure;
    display: flex;
    height: 35px;
    padding: 0;
}
 button img
{
    width: 35px;
    left:0;
    top: 0;
    height: 35px;
    background: rgba(48, 52, 60,0.2);
}
