<div class="logo" >
    <a href="#" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/student.ico" />
        </div>
        Espace Etudiant
    </a>
</div>
<div class="sidebar-wrapper">
    <div class="nav-container">
        <ul class="nav">
            <li>
                <a [routerLink]="['app-etudiant-accueil']">
                    <i class="material-icons">dashboard</i>
                    <p>Accueil</p>
                </a>
            </li>
            <li  >
                <a routerLink="app-etudiant-profile">
                    <i class="material-icons">person</i>
                    <p>Profile</p>
                </a>
            </li>
            <li  >
                <a routerLink="app-etudiant-notes">
                    <i class="material-icons">content_paste</i>
                    <p>Mes Notes</p>
                </a>
            </li>
            <li  >
                <a routerLink="app-etudiant-rdvs" >
                    <i class="material-icons">notifications</i>
                    <p>Mes Rdvs</p>
                </a>
            </li>
            <li  >
                <a  routerLink="app-etudiant-abs">
                    <i class="material-icons">bubble_chart</i>
                    <p>Mes Absences</p>
                </a>
            </li>
            <li  >
                <a  >
                    <i class="material-icons">location_on</i>
                    <p>Mon Espace Tice</p>
                </a>
            </li>
            <li  >
                <a  >
                    <i class="material-icons"></i>
                    <p>Mon Compte Workplace </p>
                </a>
            </li>
        </ul>
    </div>
</div>