/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body{
  background-color:  rgb(215, 221, 230);
  overflow: hidden;

}

.mat-dialog-container
{
  background: none !important;
  box-shadow: none !important;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: .8 !important;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0,0,0,.9) !important;
}
