#ListEnsConteneur,#listeModules

{
  height: 550px;
}

#tableEns thead

{
  color: red;
}
td
{
  padding: 12px 8px !important;
  vertical-align: middle !important;
}

.table .td-actions .btn
{
  border: none !important;
  margin-top: 0px !important;
  height: 35px !important;
  width: 35px !important;

}

.btn .material-icons
{
  font-size: 20px !important;
  border: none !important;
}

.btn.btn-primary.btn-simple
{
  color: #ff9800 !important;
}
#tableEns tr {
  width: 100%;
  display: inline-table;
  table-layout: fixed;
  cursor: pointer;
}

#tableEns{
  height:400px;
  display: -moz-groupbox;
}
#tableEns tbody{
  overflow-y: scroll;
  height: 80%;
  width: 100%;
  position: absolute;
}



.alert.alert-danger
{
  margin-top:5px !important;
  background: gray;
  border-color: gray;
  font-size: 22px !important;
  height: 70px;

}
